/*!
 * fireshell
 * Fiercely quick and opinionated front-ends
 * http://getfireshell.com
 * @author Todd Motto
 * @version 1.1.0
 * Copyright 2013. MIT licensed.
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*LESS*/
.flex-display {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: #0f1629;
}
.bg {
  background-image: url("/assets/img/skyworks_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
.content {
  position: relative;
  background-color: #623e1a;
  min-height: 500px;
  width: 100%;
  font-family: "Arial";
  line-height: 40px;
  color: white;
  font-size: 16px;
  margin: auto;
  text-align: center;
  padding-top: 200px;
}
.content p {
  margin: auto;
  text-align: center;
  padding: 50px;
  max-width: 900px;
}
a,
a:visited,
a:active {
  color: inherit;
}
a:hover {
  color: inherit;
}
.btn {
  border-radius: 0px;
  text-transform: uppercase;
  border: 2px solid white;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 20px 50px;
}
.btn:hover {
  background-color: white;
  color: #0f1629;
}
/* Parallax base styles
--------------------------------------------- */
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-perspective: 1px;
  -moz-perspective: 1px;
  -ms-perspective: 1px;
  -o-perspective: 1px;
  perspective: 1px;
}
.parallax__group {
  position: relative;
  height: 100vh;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  height: 100%;
  z-index: -2;
}
.parallax__layer--content {
  -webkit-transform: translateZ(-1px) scale(2);
  -ms-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  background-image: url("../images/montagne.svg");
  margin-top: 78%;
  z-index: -3;
}
.parallax__layer--sol {
  position: fixed;
  -webkit-transform: translateZ(-2px) scale(3);
  -ms-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3);
  background-image: url("../images/sol.svg");
  margin-top: 26%;
  z-index: -4;
}
.parallax__layer--montagne {
  position: fixed;
  -webkit-transform: translateZ(-3px) scale(4);
  -ms-transform: translateZ(-3px) scale(4);
  transform: translateZ(-3px) scale(4);
  background-image: url("../images/montagne.svg");
  margin-top: -16%;
  z-index: -5;
}
.parallax__layer--montagne02 {
  position: fixed;
  -webkit-transform: translateZ(-4px) scale(5);
  -ms-transform: translateZ(-4px) scale(5);
  transform: translateZ(-4px) scale(5);
  background-image: url("../images/montagne2.svg");
  margin-top: -22%;
  z-index: -6;
}
.parallax__layer--nuages {
  position: fixed;
  -webkit-transform: translateZ(0) scale(1);
  -ms-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1);
  background-image: url("../images/nuage.svg");
  width: 100%;
  margin-top: 0%;
  z-index: -7;
}
.parallax__layer--aliments {
  position: fixed;
  -webkit-transform: translateZ(-3px) scale(4);
  -ms-transform: translateZ(-3px) scale(4);
  transform: translateZ(-3px) scale(4);
  background-image: url("../images/aliments.svg");
  margin: auto;
  margin-top: -15%;
  right: 0px;
  width: 105%;
  margin-right: -244px;
  z-index: -8;
}
.parallax__layer--logo {
  position: fixed;
  -webkit-transform: translateZ(-3px) scale(4);
  -ms-transform: translateZ(-3px) scale(4);
  transform: translateZ(-3px) scale(4);
  background-image: url("../images/burger.svg");
  right: 0px;
  width: 100%;
  margin-right: -50%;
  color: white;
  font-size: 50px;
  letter-spacing: 10px;
  text-align: center;
  margin: auto;
  margin-top: -60%;
  z-index: -9;
}
.parallax__layer--ciel {
  position: fixed;
  -webkit-transform: translateZ(-5px) scale(6);
  -ms-transform: translateZ(-5px) scale(6);
  transform: translateZ(-5px) scale(6);
  background-image: url("../images/ciel.svg");
  background-size: 100%;
  height: 100vh;
  z-index: -10;
}
.base {
  height: 100%;
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: transparent;
}
/* demo styles
--------------------------------------------- */
body,
html {
  overflow: hidden;
  background-color: #623e1a;
}
body {
  font: 100% / 1.5 Arial;
}
* {
  margin: 0;
  padding: 0;
}
.parallax {
  font-size: 200%;
}
/* centre the content in the parallax layers */
.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* style the groups
--------------------------------------------- */
.content-cover {
  margin-top: 30%;
  width: 100%;
  height: 100%;
  background-color: #623e1a;
}
.scroll-fill {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0.5;
}
h1 {
  font-size: 28px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
/*FLEXBOX*/
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}
article {
  text-align: center;
}
/*ANIMATION SVG*/
.path {
  stroke-dasharray: 100;
  animation: bouge 3s linear infinite;
  opacity: 1;
  transform: rotate(0deg);
}
@keyframes bouge {
  to {
    stroke-dashoffset: 2000;
  }
}
/*TRANSITIONS*/
.path:hover {
  opacity: 0.5;
  transform: rotate(5deg);
}
/*POUR ANIMATION JAVASCRIPT*/
#monSVG {
  position: fixed;
}
#monSVG path {
  fill: none;
  stroke: #f00;
  stroke-width: 3;
}
